
.body {
    background:
            linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url("../img/background.png");

    width: 1366px;
    height: 768px;
    margin: 0 auto;

}
.container {
    width: 1066px;
    height: 768px;
    margin: 0 auto;
}
.lefttop {
    float: left;
    width: 33%;
    color: white;
    padding: 49px 0;
}
.imglogo {
    display: inline-block;
    content:url("../img/logo@1X.png");
}
.alogo {
    text-decoration: none;
    display: inline-block;
}
.logotext {
    display: inline-block;
}
.milan {
    font-size: 29px;
    font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    color: white;
    font-weight: bold;
}
.holidays {
    font-size: 18px;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, "Courier New", sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    color: white;
    font-weight: bold;
}
.righttop {
    float: right;
    width: 33%;
    color: white;
    padding: 57px 0;
    text-align: right;
}
.emailphonetop {
    font-size: 18px;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, "Courier New", sans-seri;
    color: white;
}
.a_imgplustext {
    text-decoration: none;
    color: white;
    font-size: 18px;
;
}
.block {
    position:absolute;
    left:0;
    bottom:20px;
    right:0;
    top:150px;
    background-color: #F26522;
    color: #FFFFFF;
    padding:5px;
    display:none;
}
.imgplustext1 {
    position: relative;
    float: left;
    width: 30%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%);
    padding: 0;
    text-align: center;
    margin: 0 0 52px 0px;
    font-size: 20px;
    font-weight: bold;

}
.imgplustext2 {
    position: relative;
    float: left;
    width: 30%;
    box-sizing: border-box;
    border: 1px white solid;
    padding: 0px;
    text-align: center;
    margin: 0 0 52px 52px;
    font-size: 20px;
    font-weight: bold;
}

.imgplustext3 {
    position: relative;
    float: left;
    width: 30%;
    width: 30%;
    box-sizing: border-box;
    border: 1px white solid;
    padding: 0px;
    margin: 0 0 52px 52px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;


}
.img_inside {
    width: 100%;
}
.imgplustext4 {
    position: relative;
    float: left;
    width: 30%;
    box-sizing: border-box;
    border: 1px white solid;
    padding: 0px;
    text-align: center;
    margin: 52px 0 1px 0px;
    font-size: 20px;
    font-weight: bold;
}
.imgplustext5 {
    position: relative;
    float: left;
    width: 30%;
    box-sizing: border-box;
    border: 1px white solid;
    padding: 0px;
    text-align: center;
    margin: 52px 0 1px 52px;
    font-size: 20px;
    font-weight: bold;
}
.imgplustext6 {
    position: relative;
    float: left;
    width: 30%;
    box-sizing: border-box;
    border: 1px white solid;
    padding: 0px;
    text-align: center;
    margin: 52px 0 1px 52px;
    font-size: 20px;
    font-weight: bold;
}
.footer {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    margin: 15px 380px;
    padding-bottom: 20px;
    color: #FFFFFF;
    opacity: 1%;
}

a.alogo:hover .logotext .milan {

    color: #F26522;
    }
a.alogo:hover .logotext .holidays {

    color: #F26522;
    }
a.alogo:hover .imglogo {
    content: url("../img/logo@1X1.png");
}
 a.a_imgplustext:hover {
     color: #F26522;
 }
 a.a_imgplustext:hover .block {
     display: block;
 }